.item, .sub-item {
    margin-top: 16px;
}

.item:first-of-type {
    margin-top: 0;
}

.sub-item {
    margin-left: 16px;
}

.heading, .heading:any-link {
    font-family: Inter, Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none;
}

.sub-heading, .sub-heading:any-link {
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.sub-heading:hover {
    color: #fff;
}

.mobile-popup {
    display: none;
    background: #27282c;
    position: absolute;
    height: stretch;
    left: 0;
    right: 0;
    margin-top: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    overflow: auto;
    z-index: 1100;
}

@media (min-width: 700px) {
    .mobile-popup {
        margin-top: 21px;
    }
}

@media (max-width: 700px) {
    .mobile-popup:target {
        display: block;
    }
}
